<% comments.each do |comment| %>
<tr>
  <td>
    <%= link_to user_path(comment.user) do %>
      <%= image_tag comment.user.get_profile_image(50,50) %> <br>
      <%= comment.user.name%>
    <% end %>
  </td>
  <td>
    <%= comment.comment %>
  </td>
  <% if comment.user == current_user %>
    <td>
      <%= link_to "destroy", book_book_comment_path(comment.book, comment), method: :delete, remote: true, class: "btn btn-danger"  %>
    </td>
  <% end %>
</tr>
<% end %>