<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan=4></th>
        </tr>
        <% @user.books.each do |book| %>
        <tr>
          <td>
            <%= link_to user_path(book.user) do %>
              <%= image_tag book.user.get_profile_image(80,80) %>
            <% end %>
          </td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
      <h2>投稿数の前日比・前週比</h2>
      <table class="table table-bordered">
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
        <tr>
          <td>
            <%= @today_books.count %>
          </td>
          <td>
            <%= @yesterday_books.count %>
          </td>
          <td>
            <% if @yesterday_books.count != 0 %>
              <%= ((@today_books.count)*100) / (@yesterday_books.count) %>%
            <% else %>
              ---
            <% end %>
          </td>
        </tr>
        <tr>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
        <tr>
          <td>
            <%= @toweek_books.count %>
          </td>
          <td>
            <%= @lastweek_books.count %>
          </td>
          <td>
            <% if @lastweek_books.count != 0 %>
              <%= ((@toweek_books.count)*100) / (@lastweek_books.count) %>%
            <% else %>
              ---
            <% end %>
          </td>
        </tr>
      </table>
      <h2>7日間分の投稿数</h2>
      <table class="table table-bordered">
        <tr>
          <th>6日前</th>
          <th>5日前</th>
          <th>4日前</th>
          <th>3日前</th>
          <th>2日前</th>
          <th>1日前</th>
          <th>今日</th>
        </tr>
        <tr>
          <% 7.times do |num| %>
            <td>
              <%= @toweek_books.where(created_at: (6 - num).days.ago.beginning_of_day..(6 - num).days.ago.end_of_day).count %>
            </td>
          <% end %>
        </tr>
      </table>
      <%= render "users/graph", chartlabels: @chartlabels, chartdatas: @chartdatas %>
    </div>
  </div>
</div>