<td>
  <%= link_to user_path(book.user) do %>
    <%= image_tag book.user.get_profile_image(70, 70) %> <br>
    <%= book.user.name %>
  <% end %>
</td>
<td><%= link_to book.title, book_path(book) %></td>
<td><%= book.body %></td>
<td id="favorite_<%= book.id %>">
  <%= render "favorites/favorite", book: book %>
</td>
<td>
  コメント数：<%= book.book_comments.count %>
</td>
<% if book.user == current_user %>
  <td><%= link_to "Edit", edit_book_path(book), class: "btn btn-success" %></td>
  <td><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger"%></td>
<% end %>