<td>
  <%= link_to user_path(book.user) do %>
    <%= image_tag book.user.get_profile_image(70, 70) %> <br>
    <%= book.user.name %>
  <% end %>
</td>
<td><%= link_to book.title, book_path(book) %></td>
<td><%= book.body %></td>
<td id="favorite_<%= book.id %>">
  <%= render "favorites/favorite", book: book %>
</td>
<td id="comment_count">
  コメント数：<%= book.book_comments.count %>
</td>
<td>
  <div id="star_<%= book.id %>"></ediv>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#star_<%= book.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: false,
    score: "<%= book.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
</td>
<% unless current_page?(book_path(book)) %>
  <td>閲覧数：<%= book.foot_stamps.count %></td>
<% end %>
<% if book.user == current_user %>
  <% if current_page?(book_path(book)) || current_page?(user_path(book.user)) %>
    <td><%= link_to "Edit", edit_book_path(book), class: "btn btn-success" %> <br>
    <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger mt-2"%></td>
  <% end %>
<% else %>
  <td colspan=2></td>
<% end %>